#Esse arquivo serve como um modelo para o arquivo .env real. 
#Copie este arquivo para .env e preencha os valores apropriados.

DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_APP_SECRET=

PORT=8080